.formContainer {
    /* max-width: 500px; */
    margin: 0 auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    background-color: rgb(211 211 211 / 12%);
    margin: 0 1em;
  }

  
  
  .label {
    display: block;
    margin-bottom: 8px;
    /* font-weight: bold; */
    font-weight: 600;
  }
  
  .textarea::placeholder {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    text-align: left;
  }
  .input,
  .textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:disabled {
    background-color: #ccc;
  }
  
  .button:not(:disabled):hover {
    background-color: #005bb5;
  }
  
  .successMessage {
    text-align: center;
    color: var(--shade);
    font-size: 18px;
  }
  

  .h2 {
    font-size: 32px;
    margin-bottom: 10px;
  text-align: center;
  }

  @media (max-width: 768px) {


  }