/* components/FAQ.module.css */
.faqSection {
    text-align: center;
    border-radius: 10px;
    padding: 100px 0;
    color:#fff;
  }
  
  .faqSection h2 {
    font-size: 32px;
    margin-bottom: 10px;
  
  }
  
  .faqSection p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .faqContainer {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding:1em;
    
  }
  
  .faqItem {
    margin-bottom: 10px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-width: 800px;
    border-bottom: 1px solid var(--shade);

  }
  
  .faqQuestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    max-width: 800px;
    height: 100%;

  }

  .faqIcon{
    /* color:var(--primary); */
    margin-left: 1em;
    padding-left: 1em;
  }
  
  .faqQuestion h3 {
    font-size: 18px;
    margin: 0;
  }
  
  .faqAnswer {
    padding: 15px 20px;
  }
  
  .faqAnswer p {
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .faqSection h2 {
      font-size: 28px;
  
    }
  
    .faqSection p {
      font-size: 16px;
    }
  
    .faqQuestion h3 {
      font-size: 16px;
    }
  
    .faqAnswer {
      font-size: 14px;
    }
  }