
.lists{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto 0;
}


.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto 0;
    padding: 100px 0;
    width: 100%;
    text-align: left;
    margin:auto 0;
    color:#fff;
    
}

.footer a{
    text-decoration: none;

}

.footer ul{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin:1em 0;

}

.footer li{
    list-style-type: none;
    padding: 1em;
    font-size: .875rem;


}

.footer li a{
    color:var(--shade);
}
.footer li a:hover{
    color:var(--primary);
    transition: color .60s ease-in-out;
}
.footer li :hover{
    color:var(--primary);
}
.madeby{
    font-size: .875rem;
    line-height: 1.25rem;
    color:var(--shade);
}

.footer div{
    color:var(--shade);
    font-size: .875rem;
    font-weight: 400;
    text-transform: capitalize;
}

.footer h2{
    color:var(--shade);
}

@media screen and (max-width: 800px){
    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        
    }

    .footer h2{
        color:var(--shade);
        margin:1em 0;
    }
}