
/* Styles for How AI Writer Works Section */
.howItWorks {
    width: 100%;
    padding: 100px 0;
  background-color: var(--shade);
    text-align: left;
    transition: background-color 0.3s, padding 0.3s;
  color:var(--bkg);
  min-height: 100vh;
  }
  
  .worksTitle {
    font-size: 28px;
    
    text-align: center;
  }
  
  .worksSubtitle {
    font-size: 14px;
    /* color: var(--primary); */
    text-align: center;
    font-weight: 900;
    margin-bottom: 40px;
  }
  
  .worksContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  

  
  .worksSteps {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .step {
    display: flex;
    align-items: flex-start;
  }
  
  .stepNumber {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary);
    margin-right: 15px;
  }
  
  .stepText {
    max-width: 400px;
  }
  
  .stepText h3 {
    font-size: 18px;
    /* color: #333; */
    margin: 0 0 10px 0;
  }
  
  .stepText p {
    font-size: 16px;
    /* color: #666; */
    margin: 0 0 10px 0;
  }
  
  .getStarted {
    font-size: 16px;
    color: var(--primary);
    text-decoration: none;
  }
  
  .howItWorksButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
  }
  

  @media screen and (max-width: 800px){
    .howItWorks {
      width: 100%;
      padding: 1em 2em;
      /* background-color: #fff; */
      text-align: left;
      transition: background-color 0.3s, padding 0.3s;
      
    }

    .worksSteps {
      max-width: 100%;
      padding:1em;
    
    }
    .stepText {
      max-width: 100%;
    }
    
  }