.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

  }

  .imagewrapper{
    width: 80%;
    height: auto;
  }
  
  .image {
    cursor: pointer;
    max-width: 100%;
    height: auto;
    transition: transform 0.2s;
  }
  
  .image:hover {
    transform: scale(1.05);
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
  }
  
  .modalImage {
    max-width: 100%;
    height: auto;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
  }
  

  

  @media (max-width: 768px) {
    .imagewrapper{
      width: 100%;
      height: auto;
      padding: 1em;
    }
  }
