.promoSection {
  font-size: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  text-align: center;
  flex-direction: row;
  /* margin:2em 0; */
  min-height: 100vh;
  background-color: rgb(240, 242, 243);
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  order: 2; /* Default order for desktop */
}

.content {
  flex: 1 1;
  max-width: 800px;
  margin: 0 0 0 2em;
  text-align: center;
  order: 1; /* Default order for desktop */
}

.highlight {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  background-color: var(--primary);
  color: var(--bkg);
  padding: 0 10px;
  transform: rotate(-4deg);
  margin-top: 0.23em;
}

.strikeThroughRed {
  position: relative;
  display: inline-block;
}

.strikeThroughRed::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: red;
  top: 50%;
  transform: translateY(-50%);
}

.description {
  font-size: 1.2em;
  margin-bottom: 40px;
  padding: 1.5em;
}

.ctaButton {
  background-color: var(--primary);
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 700;
}

.ctaButton a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--bkg);
}

.rating {
  color: var(--primary);
}

.discount {
  line-height: 1.625;
  font-size: 1.1em;
}

@media screen and (max-width: 800px) {
  .promoSection {
    padding: 2em 1em;
    flex-direction: column;
    /* margin:2em 0; */

  }

  .content {
    max-width: 100%;
    /* text-align: center; */
    order: 1; /* Ensure text is on top */
      margin: 0 0 0 0;
      text-align: center;

  }

  .imageWrapper {
    order: 2; /* Ensure image is below text */
    margin-top: 2em;
    padding: 1em;
    overflow-x: hidden;
  }

  .highlight {
    font-size: 90%;
  }
}
