.container {
    background-color: var(--primary);
    text-align: center;
    color: var(--bkg);
    width:100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
    height:100vh;
  }
  
  .title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size:2rem;
  }
  
  .description {
    color: var(--bkg);
    margin-bottom: 20px;
    line-height: 1.625;
    max-width: 36rem;
    font-weight: 400;
    padding: 1em;
    font-size: 1rem;
  }
  
  .button {
    background-color: var(--bkg);
    color:var(--shade);
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 700;
  }
  
  .button a{
    width:100%;
    height: 100%;
    text-decoration: none;
    color:var(--shade);
    background-color: var(--bkg);
    /* background-color: #ffa41c; */

    color:var(--shade);
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 700;

  }

  @media screen and (max-width: 800px){

    .container {
      background-color: var(--primary);
      text-align: center;
      color: var(--bkg);
      width:100%;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
  
    }
  }